.jumbotron {
  background-color: #fffa20;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #fffdd0;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background-color: #0e9909;
  border-color: green; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

/*# sourceMappingURL=styles.css.map */