@yellow: #fffa19;
@red: #CC1616;
@green: #0e9909;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom; }

.padding(@top, @right, @bottom, @left){
  padding-top: @top;
  padding-right: @right;
  padding-bottom: @bottom;
  padding-left: @left;
}

.border_color(@color){
  border-color: @color;
}

.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(50px, 0px); }

footer {
  .padding(10px, 10px, 0px, 10px);
  background-color: @red;
  .margenes(10px, 0px); }

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px); }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background-color: @green;
  .border_color(#0e9909); }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }